@model IEnumerable<O365Groups.Models.Conversation>

<h2>@ViewBag.Title</h2>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
	<h4>@ViewBag.Message</h4>
}

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.hasAttachments)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.topic)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.lastDeliveredDateTime)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.uniqueSenders)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.preview)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		string uniqueSenders = String.Join("<br/>", item.uniqueSenders);
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.hasAttachments)
			</td>
			<td>
				@Html.ActionLink(item.topic, "Threads", new { id = ViewBag.GroupId, itemId = item.id })
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.lastDeliveredDateTime)
			</td>
			<td>
				@Html.Raw(uniqueSenders)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.preview)
			</td>
		</tr>
	}

</table>
<p>
	@Html.ActionLink("Back to Group Details", "Details", new { id = ViewBag.GroupId })
</p>
